<h1>Modal</h1>
<p>Modal é uma janela que exibe um conteúdo adicional em uma camada acima da página atual, com uma sobreposição de
  superfície (overlay) cobrindo a página e tornando-a temporáriamente inacessível.</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">

      <button mat-stroked-button color="primary" class="rounded" (click)="abrirModal()">
        <div class="d-flex">
          <mat-icon class="mr-3">open_in_new</mat-icon>
          <span>Abrir modal</span>
        </div>
      </button>

    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;button mat-stroked-button color="primary" class="rounded" (click)="abrirModal()"&gt;
  &lt;div class="d-flex"&gt;
    &lt;mat-icon class="mr-3"&gt;open_in_new&lt;/mat-icon&gt;
    &lt;span&gt;Abrir modal&lt;/span&gt;
  &lt;/div&gt;
&lt;/button&gt;
</pre>
</code>
  </mat-tab>
  <mat-tab label="TS">
<code>
<pre>
export class ModalComponent {{ '{' }}
  constructor(public _dialog: MatDialog) {{ '{ }' }}

  abrirModal(): void {{ '{' }}
    const dialogRef = this._dialog.open(ModalExemploComponent, {{ '{' }}
      width: '450px'
    {{ '}' }})
  {{ '}' }}
{{ '}' }}

@Component({{ '{' }}
  selector: 'app-modal-exemplo',
  templateUrl: 'modal-exemplo.component.html',
{{ '}' }})
export class ModalExemploComponent {{ '{ }' }}

  constructor(public dialogRef: MatDialogRef&lt;ModalExemploComponent&gt;) {{ '{' }}

  onNoClick(): void {{ '{' }}
    this.dialogRef.close();
    {{ '}' }}
{{ '}' }}
</pre>
</code>
  </mat-tab>
  <mat-tab label="Modal Html">
<code>
<pre>
&lt;h1 mat-dialog-title&gt;Exemplo de modal&lt;/h1&gt;
&lt;div mat-dialog-content&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
  magna aliqua.
&lt;/div&gt;
&lt;div mat-dialog-actions&gt;
  &lt;button mat-raised-button mat-dialog-close color="primary" class="rounded"&gt;
    Confirmar
  &lt;/button&gt;

  &lt;button mat-stroked-button mat-dialog-close color="primary" class="rounded"&gt;
    Cancelar
  &lt;/button&gt;
&lt;/div&gt;
</pre>
</code>
  </mat-tab>
</mat-tab-group>