<mat-card class="mat-elevation-z2 bl-red">
  <mat-card-header>
    <mat-card-title color="accent" style="margin-left: -16px">Componente customizado</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Por se tratar de um componente que não é fornecido nativamente pelo angular-material, foi construído e customizado o componente a seguir.
    </p>
  </mat-card-content>
</mat-card>

<h1>Breadcumb</h1>
<p>Breadcrumb, Breadcrumb Navigation ou Breadcrumb Trail (literalmente, navegação por migalhas de pão ou trilha de
  migalhas de pão, em alusão à história de João e Maria) é um sistema de navegação estrutural usado para proporcionar ao
  usuário um meio de localização dentro da estrutura de navegação do site ou sistema.</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <mj-breadcumb></mj-breadcumb>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;mj-breadcumb&gt;&lt;/mj-breadcumb&gt;
</pre>
</code>
  </mat-tab>
  <mat-tab label="TS">
    <p>O componente irá se montar de acordo com os dados da rota, para que o mesmo funciona será necessário ajustar o seu route para o seguinte:</p>
    <p>Atente-se a propriedade <strong>data</strong>.</p>
    <code>
<pre>
...
path: 'componentes', data: {{ '{' }} breadcrumb: 'Componentes', rota: "/componentes" {{ '}' }}, children: [
  {{ '{' }} path: 'breadcumb', component: BreadcumbComponent, data: {{ '{' }} breadcrumb: 'Breadcumb', rota: "/componentes/breadcumb" {{ '}' }} {{ '}' }},
...
</pre>
</code>
  </mat-tab>
</mat-tab-group>