<h1>About the project</h1>

<p>
  NGX ProjBase is a base project designed to support building a new
  Angular Application based on Material Angular with high produtivity.
</p>

<p>
  Its code is open under the GNU Lesser General Public License, version 3.0 (LGPL-3.0), an OSI Approved License.
  LGPL-3.0 is a set of additional permissions added to version 3 of the GNU General Public License.
</p>

<p>
  It's designed to work with any kind of REST API and offers, mainly:
</p>
<ul>
  <li>A lot of Rich and Ready-to-Use UI standardized components;</li>
  <li>Fast-way to develop CRUDs based on writing screen metadatas;</li>
  <li>Base layout with top navbar, sidbar,  breadcrumb, footer, etc.;</li>
  <li>Module organization goals;</li>
  <li>User and Login (SSO) ready patterns.</li>
</ul>

<p>
  This is a base project to who will start a new Angular (with Material Angular) project.
</p>
<p>
  You will find mainly the 3 components below:
</p>

<ul>
  <li>Top navbar</li>
  <li>Sidabar</li>
  <li>Footer</li>
</ul>
<br>
<h2>Base Architecture</h2>
<p>
  Angular.io v11 and Angular-Material v11.</p>
<br>
<code>
<pre>
@angular/core: ~11.2.11
@angular/material: ^11.2.13
</pre>
</code>
<br>
<h2>What do you need?</h2>
<p>If you will work on this project, know  <a [routerLink]="'/how-to-start'">how to start</a>.</p>
<p>Otherwise, if you will use it as a component, know <a [routerLink]="'/how-to-use'">how to use</a>.</p>
