<h1>Sobre</h1>
<h2>O projeto</h2>

<p>O projeto <strong>Arquitetura Identidade Visual - Angular - Core Applications</strong> consite em uma adaptação visual do Angular-Material para aplicar a identidade visual do que foi estabelecido nos projetos:</p>

<ul>
    <li>gov.br - 2.0.2 BETA (https://dsgov.estaleiro.serpro.gov.br/)</li>
    <li>oscip - 1.0.0 (https://staging-aplicacao.mj.gov.br/oscip-dsv/)</li>
</ul>
<br>
<h2>Aqui você vai obter a folha de estilo (SASS) e os componentes base do projeto, que são:</h2>

<ul>
    <li>Menu superior</li>
    <li>Menu lateral</li>
    <li>Rodapé</li>
</ul>
<br>
<h2>Arquitetura base</h2>
<p>A arquitetura base foi construída considerando o Angular.io v11 e o Angular-Material v11, seguindo as orientações de customização de tema para o Angular-Material.</p>
<br>
<h2>Componentes base:</h2>
<code>
<pre>
@angular/core: ~11.2.11
@angular/material: ^11.2.13
</pre>
</code>
<br>
<h2>O que você precisa?</h2>
<p>Se você vai trabalhar neste projeto base, fazendo alguma customização ou correção, <a [routerLink]="'/como-comecar'">siga aqui</a>.</p>
<p>Se você é um cliente deste projeto, vai consumir sua identidade visual, <a [routerLink]="'/consumindo-arquitetura'">esse é o caminho</a>.</p>
