<h1>Card</h1>
<p>They are cards (or surfaces) that contain different content and actions on a single subject (or topic).</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <div style="max-width: 400px;">
        <mat-card class="mat-elevation-z2">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/elon.jpg" alt="Avatar">
            <mat-card-title>Elon Musk</mat-card-title>
            <mat-card-subtitle>Product Architect</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Elon Reeve Musk (born June 28, 1971) is a business magnate, investor and conspiracy
              theorist. Musk is the founder, chairman, CEO and chief technology officer of SpaceX; angel investor,
              CEO, product architect and former chairman of Tesla, Inc.; owner, chairman and CTO of X Corp.; founder of
              the Boring Company; co-founder of Neuralink and OpenAI.
            </p>
          </mat-card-content>
          <mat-card-actions class="d-flex">
            <button mat-button color="primary" class="rounded">
              <div class="d-flex">
                <mat-icon class="mr-3">download</mat-icon>
                <span>button</span>
              </div>
            </button>

            <span class="lib-spacer"></span>

            <button mat-button mat-icon-button color="primary">
              <mat-icon aria-hidden="false">share</mat-icon>
            </button>

            <button mat-button mat-icon-button color="primary">
              <mat-icon aria-hidden="false">favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;mat-card class="mat-elevation-z2"&gt;
  &lt;mat-card-header&gt;
    &lt;img mat-card-avatar src="assets/images/elon.jpg" alt="Avatar"&gt;
    &lt;mat-card-title&gt;Elon Musk&lt;/mat-card-title&gt;
    &lt;mat-card-subtitle&gt;Product Architect&lt;/mat-card-subtitle&gt;
  &lt;/mat-card-header&gt;
  &lt;mat-card-content&gt;
    &lt;p&gt;
          Elon Reeve Musk (born June 28, 1971) is a business magnate, investor and conspiracy
          theorist. Musk is the founder, chairman, CEO and chief technology officer of SpaceX; angel investor,
          CEO, product architect and former chairman of Tesla, Inc.; owner, chairman and CTO of X Corp.; founder of
          the Boring Company; co-founder of Neuralink and OpenAI.
    &lt;/p&gt;
  &lt;/mat-card-content&gt;
  &lt;mat-card-actions class="d-flex"&gt;
    &lt;button mat-button color="primary" class="rounded"&gt;
      &lt;div class="d-flex"&gt;
        &lt;mat-icon class="mr-3"&gt;download&lt;/mat-icon&gt;
        &lt;span&gt;Botão&lt;/span&gt;
      &lt;/div&gt;
    &lt;/button&gt;

    &lt;span class="lib-spacer"&gt;&lt;/span&gt;

    &lt;button mat-button mat-icon-button color="primary"&gt;
      &lt;mat-icon aria-hidden="false"&gt;share&lt;/mat-icon&gt;
    &lt;/button&gt;

    &lt;button mat-button mat-icon-button color="primary"&gt;
      &lt;mat-icon aria-hidden="false"&gt;favorite&lt;/mat-icon&gt;
    &lt;/button&gt;
  &lt;/mat-card-actions&gt;
&lt;/mat-card&gt;
</pre>
    </code>
  </mat-tab>
</mat-tab-group>
