<mat-card class="mat-elevation-z2 bl-red">
  <mat-card-header>
    <mat-card-title color="accent" style="margin-left: -16px">Componente customizado</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Por se tratar de um componente que não é fornecido nativamente pelo angular-material, foi construído e customizado o componente a seguir.
    </p>
    <p>Também foi construído uma diretiva para possibilitar o arrastar e soltar arquivos.</p>
  </mat-card-content>
</mat-card>

<h1>File upload</h1>
<p>É o componente que permite a entrada de dados textuais por parte do usuário.</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">

      <div style="max-width: 600px;">

        <form class="submit-form">
          <mat-label>Exemplo de upload</mat-label>
          <div class="mat-button-upload">
            <input hidden type="file" #inputFileUpload (change)="uploadCtrl.upload($event)"/>
            <button class="w-100" mat-stroked-button color="primary" (click)="inputFileUpload.click()" libFileDrop (files)="uploadCtrl.dropped($event)">
              <div class="d-flex">
                <mat-icon class="mr-3">upload</mat-icon>
                <span>Selecione o arquivo</span>
              </div>
            </button>
            <div *ngIf="uploadCtrl.error" class="mat-error">
              <mat-icon aria-hidden="false">cancel</mat-icon>{{ uploadCtrl.error }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Html">
<code>
<pre>
&lt;mat-label&gt;Exemplo de upload&lt;/mat-label&gt;
&lt;div class="mat-button-upload"&gt;
  &lt;input hidden type="file" #inputFileUpload (change)="uploadCtrl.upload($event)"/&gt;
  &lt;button class="w-100" mat-stroked-button color="primary" (click)="inputFileUpload.click()" libFileDrop (files)="uploadCtrl.dropped($event)"&gt;
    &lt;div class="d-flex"&gt;
      &lt;mat-icon class="mr-3"&gt;upload&lt;/mat-icon&gt;
      &lt;span&gt;Selecione o arquivo&lt;/span&gt;
    &lt;/div&gt;
  &lt;/button&gt;
  &lt;div *ngIf="uploadCtrl.error" class="mat-error"&gt;
    &lt;mat-icon aria-hidden="false"&gt;cancel&lt;/mat-icon&gt;{{'{{'}} uploadCtrl.error {{'}}'}}
  &lt;/div&gt;
&lt;/div&gt;
</pre>
</code>
  </mat-tab>
  <mat-tab label="TS">
<code>
<pre>
public uploadCtrl = {{'{'}}
  error: '',
  upload: (evt: any) => {{'{'}}
    this.uploadCtrl.error = 'Os arquivos devem ser no formato PNG ou JPG e ter no máximo 100MB';
  {{'}'}},
  dropped: (files: any) => {{'{'}}
    this.uploadCtrl.error = 'Os arquivos devem ser no formato PNG ou JPG e ter no máximo 100MB';
  {{'}'}}
{{'}'}}
</pre>
</code>
  </mat-tab>
</mat-tab-group>
