<h1>Como começar</h1>
<p>A seguir, será explicado como subir e desenvolver neste projeto.</p>
<p>O projeto é composto por <strong>Componentes de exemplo</strong>, para ajudar outros times a consumirem e por uma biblioteca que irá fornecer o layout base e um <strong>tema/sass</strong> (com classes customizadas) para o Angular-Material</p>

<br>
<h2>Como os projetos consomem nossa lib?</h2>
<p>Este projeto irá gerar um arquivo compilado, <strong>mjbase-*.tgz</strong>, e esse será importado nos projetos cliente. Mais informações na <a [routerLink]="'/consumindo-arquitetura'">documentação de instalação</a>.</p>

<br>
<h2>Estrutura do projeto</h2>

<ul>
    <li>
        Componentes de exemplo <strong>(O que for alterado aqui, não afeta os projetos clientes desta arquitetura)</strong>
        <ul>
            <li>src/app</li>
        </ul>
    </li>
    <li>
        Biblioteca base <strong>(O que for alterado aqui <span style="color: red;">afeta os projetos clientes</span>, desde que eles consumam uma nova versão do build)</strong>
        <ul>
            <li>projects/projbase</li>
        </ul>
    </li>
</ul>

<br>
<h2>Instalação das dependências</h2>
<code>
<pre>
npm install
</pre>
</code>

<br>
<h2>Build e pack da biblioteca base</h2>
<p>No package.json foi configurado os seguintes comandos:</p>
<code>
<pre>
npm run build:library
npm run pack:library
</pre>
</code>

<br>
<h2>Rodando o projeto</h2>
<code>
<pre>
npm start
</pre>
</code>
