<h1>Input</h1>
<p>É o componente que permite a entrada de dados textuais por parte do usuário.</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      
      <div style="max-width: 400px;">

        <form class="submit-form">
          <mat-label>Exemplo de label</mat-label>
          <mat-form-field appearance="outline" class="w-100 mat-form-field-label-out" floatLabel="never" color="accent">
            <input matInput type="text" placeholder="Exemplo de input" name="valor" [(ngModel)]="valor" [formControl]="inputFormControl">

            <button *ngIf="valor" matSuffix mat-icon-button aria-label="Clear" (click)="valor = ''">
              <mat-icon>close</mat-icon>
            </button>

            <mat-error *ngIf="inputFormControl.hasError('required')">
              <mat-icon aria-hidden="false">cancel</mat-icon>
              Valor é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </form>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Html">
<code>
<pre>
&lt;form class="submit-form"&gt;
  &lt;mat-label&gt;Exemplo de label&lt;/mat-label&gt;
  &lt;mat-form-field appearance="outline" class="w-100 mat-form-field-label-out" floatLabel="never" color="accent"&gt;
    &lt;input matInput type="text" placeholder="Exemplo de input" name="valor" [(ngModel)]="valor"
      [formControl]="inputFormControl"&gt;

    &lt;button *ngIf="valor" matSuffix mat-icon-button aria-label="Clear" (click)="valor = ''"&gt;
      &lt;mat-icon&gt;close&lt;/mat-icon&gt;
    &lt;/button&gt;

    &lt;mat-error *ngIf="inputFormControl.hasError('required')"&gt;
      &lt;mat-icon aria-hidden="false"&gt;cancel&lt;/mat-icon&gt;
      Valor é &lt;strong&gt;obrigatório&lt;/strong&gt;
    &lt;/mat-error&gt;
  &lt;/mat-form-field&gt;
&lt;/form&gt;
</pre>
</code>
  </mat-tab>
  <mat-tab label="TS">
<code>
<pre>
inputFormControl = new FormControl('', [
  Validators.required
]);

public valor = '';
</pre>
</code>
  </mat-tab>
</mat-tab-group>