<h1>Button</h1>
<p>
  Buttons are interactive interface elements that allow users to access functionality, perform
  actions or navigate the interface.
</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <button mat-raised-button color="primary" class="rounded">button</button>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;button mat-raised-button color="primary" class="rounded"&gt;button&lt;/button&gt;
</pre>
    </code>
  </mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <button mat-stroked-button color="primary" class="rounded">
        <div class="d-flex">
          <mat-icon class="mr-3">settings_accessibility</mat-icon>
          <span>button</span>
        </div>
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;button mat-stroked-button color="primary" class="rounded"&gt;
  &lt;div class="d-flex"&gt;
    &lt;mat-icon class="mr-3"&gt;settings_accessibility&lt;/mat-icon&gt;
    &lt;span&gt;button&lt;/span&gt;
  &lt;/div&gt;
&lt;/button&gt;
</pre>
    </code>
  </mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <button mat-mini-fab color="primary">
        <div class="d-flex">
          <mat-icon>menu</mat-icon>
        </div>
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;button mat-mini-fab color="primary"&gt;
  &lt;div class="d-flex"&gt;
    &lt;mat-icon&gt;menu&lt;/mat-icon&gt;
  &lt;/div&gt;
&lt;/button&gt;
</pre>
    </code>
  </mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <button mat-stroked-button class="mat-stroked-mini-fab mat-mini-fab mat-elevation-z0 text-primary">
        <div class="d-flex">
          <mat-icon>settings_accessibility</mat-icon>
        </div>
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;button mat-stroked-button class="mat-stroked-mini-fab mat-mini-fab mat-elevation-z0 text-primary"&gt;
  &lt;div class="d-flex"&gt;
    &lt;mat-icon&gt;settings_accessibility&lt;/mat-icon&gt;
  &lt;/div&gt;
&lt;/button&gt;
</pre>
    </code>
  </mat-tab>
</mat-tab-group>
