<lib-main-container #sidebar
                    [title]="'Main Title'"
                    [license]="'ORG. LTD.'"
                    [systemName]="'Base Project App'"
                    [menus]="[
    { icon: '', title: 'Introduction', menus: [
      { icon: '', uri: 'about', title: 'About' },
      { icon: '', uri: 'how-to-use', title: 'How to Use' },
    ] },
    { icon: '', title: 'Students', menus: [
      { icon: '', uri: '/components/accordion', title: 'Register student' },
      { icon: '', uri: '/components/avatar', title: 'Edit student' },
      { icon: '', uri: '/components/breadcumb', title: 'Delete student' },
      { icon: '', uri: '/components/button', title: 'Show students' },
    ] },
    { icon: '', title: 'Teachers', menus: [
      { icon: '', uri: '/components/accordion', title: 'Register teacher' },
      { icon: '', uri: '/components/avatar', title: 'Edit teacher' },
      { icon: '', uri: '/components/breadcumb', title: 'Delete teacher' },
      { icon: '', uri: '/components/button', title: 'Show teachers' },
    ] }
  ]"
                    (scrollTop)="scrollPage($event)"
>
  <lib-navbar
    [title]="'Online Student'"
    [subTitle1]="''"
    [subTitle2]="''"
    [subTitle3]="''"
    [version]="'Frontend - 0.0.1'"
    [label]="'local'"
    [versions]="[
      { icon: 'dns', version: '1.0.0-RC-48-04', label: 'local' },
      { icon: 'backup_table', version: '1.0.0-RC-37-03', label: 'local' }
    ]"
    [shrink]="navbarShrink"
    [notification]="{
      total: 2,
      menus: [
        { uri: 'components/notifications', title: 'All notifications' },
      ]
    }"
    [logged]="isLogged"
    [user]="userLogged"
    (openMenu)="openMenu()"
    (login)="login()"
    (logoff)="logoff()"
  ></lib-navbar>

  <div class="lib-grid-container">
    <router-outlet></router-outlet>
  </div>

  <lib-footer license="&copy; 2023 ORG. LTD. All rights reserved."></lib-footer>
</lib-main-container>
