<lib-main-container #sidebar
                    [title]="'Main Title'"
                    [license]="'ORG. LTD.'"
                    [systemName]="'Base Project App'"
                    [menus]="[
    { icon: '', title: 'Introduction', menus: [
      { icon: '', uri: 'about', title: 'About' },
      { icon: '', uri: 'how-to-start', title: 'How to Start' },
      { icon: '', uri: 'how-to-use', title: 'How to Use' },
    ] },
    { icon: '', title: 'Components', menus: [
      { icon: '', uri: '/components/accordion', title: 'Accordion' },
      { icon: '', uri: '/components/avatar', title: 'Avatar' },
      { icon: '', uri: '/components/breadcumb', title: 'Breadcumb' },
      { icon: '', uri: '/components/button', title: 'Button' },
      { icon: '', uri: '/components/card', title: 'Card' },
      { icon: '', uri: '/components/data-table', title: 'Data Table' },
      { icon: '', uri: '/components/date-time-picker', title: 'Data Time Picker' },
      { icon: '', uri: '/components/input', title: 'Input' },
      { icon: '', uri: '/components/input-file', title: 'File Upload' },
      { icon: '', uri: '/components/modal', title: 'Modal' },
      { icon: '', uri: '/components/radio-button', title: 'Radio Button' },
      { icon: '', uri: '/components/select', title: 'Select' }
    ] },
    { icon: '', uri: 'sso', title: 'SSO' }
  ]"
                    (scrollTop)="scrollPage($event)"
>
  <lib-navbar
    [title]="'Main Title'"
    [subTitle1]="'Subtitle 1'"
    [subTitle2]="'Subtitle 2'"
    [subTitle3]="'Subtitle 3'"
    [version]="'Frontend - 0.0.1'"
    [label]="'local'"
    [versions]="[
      { icon: 'dns', version: '1.0.0-RC-48-04', label: 'local' },
      { icon: 'backup_table', version: '1.0.0-RC-37-03', label: 'local' }
    ]"
    [shrink]="navbarShrink"
    [notification]="{
      total: 2,
      menus: [
        { uri: 'components/notificacoes', title: 'All notifications' },
      ]
    }"
    [logged]="isLogged"
    [user]="userLogged"
    (openMenu)="openMenu()"
    (login)="login()"
    (logoff)="logoff()"
  ></lib-navbar>

  <div class="lib-grid-container">
    <router-outlet></router-outlet>
  </div>

  <lib-footer license="&copy; 2023 ORG. LTD. All rights reserved."></lib-footer>
</lib-main-container>
