<h1>Select</h1>
<p>O componente select permite selecionar itens em uma lista de opções.</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <div style="max-width: 400px;">

        <form class="submit-form">
          <mat-label>Escolha uma opção</mat-label>
          <mat-form-field appearance="outline" class="w-100 mat-form-field-label-out" floatLabel="never" color="accent">
            <mat-select name="valor" [(ngModel)]="valor" [formControl]="inputFormControl">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>

            <mat-error *ngIf="inputFormControl.hasError('required')">
              <mat-icon aria-hidden="false">cancel</mat-icon>
              Valor é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </form>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Html">
<code>
<pre>
&lt;form class="submit-form"&gt;
  &lt;mat-label&gt;Escolha uma opção&lt;/mat-label&gt;
  &lt;mat-form-field appearance="outline" class="w-100 mat-form-field-label-out" floatLabel="never" color="accent"&gt;
    &lt;mat-select name="valor" [(ngModel)]="valor" [formControl]="inputFormControl"&gt;
      &lt;mat-option value="option1"&gt;Option 1&lt;/mat-option&gt;
      &lt;mat-option value="option2" disabled&gt;Option 2 (disabled)&lt;/mat-option&gt;
      &lt;mat-option value="option3"&gt;Option 3&lt;/mat-option&gt;
    &lt;/mat-select&gt;

    &lt;mat-error *ngIf="inputFormControl.hasError('required')"&gt;
      &lt;mat-icon aria-hidden="false"&gt;cancel&lt;/mat-icon&gt;
      Valor é &lt;strong&gt;obrigatório&lt;/strong&gt;
    &lt;/mat-error&gt;
  &lt;/mat-form-field&gt;
&lt;/form&gt;
</pre>
</code>
  </mat-tab>
  <mat-tab label="TS">
<code>
<pre>
inputFormControl = new FormControl('', [
  Validators.required
]);

public valor = '';
</pre>
</code>
  </mat-tab>
</mat-tab-group>