<h1>Card</h1>
<p>Cards são cartões (ou superfícies) que contêm conteúdo e ações diversas sobre um único assunto (ou tópico).</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <div style="max-width: 400px;">
        <mat-card class="mat-elevation-z2">
          <mat-card-header>
            <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar">
            <mat-card-title>Maria Amorim</mat-card-title>
            <mat-card-subtitle>UX Designer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions class="d-flex">
            <button mat-button color="primary" class="rounded">
              <div class="d-flex">
                <mat-icon class="mr-3">download</mat-icon>
                <span>Botão</span>
              </div>
            </button>
            
            <span class="mj-spacer"></span>

            <button mat-button mat-icon-button color="primary">
              <mat-icon aria-hidden="false">share</mat-icon>
            </button>

            <button mat-button mat-icon-button color="primary">
              <mat-icon aria-hidden="false">favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Html">
<code>
<pre>
&lt;mat-card class="mat-elevation-z2"&gt;
  &lt;mat-card-header&gt;
    &lt;img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar"&gt;
    &lt;mat-card-title&gt;Maria Amorim&lt;/mat-card-title&gt;
    &lt;mat-card-subtitle&gt;UX Designer&lt;/mat-card-subtitle&gt;
  &lt;/mat-card-header&gt;
  &lt;mat-card-content&gt;
    &lt;p&gt;
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    &lt;/p&gt;
  &lt;/mat-card-content&gt;
  &lt;mat-card-actions class="d-flex"&gt;
    &lt;button mat-button color="primary" class="rounded"&gt;
      &lt;div class="d-flex"&gt;
        &lt;mat-icon class="mr-3"&gt;download&lt;/mat-icon&gt;
        &lt;span&gt;Botão&lt;/span&gt;
      &lt;/div&gt;
    &lt;/button&gt;

    &lt;span class="mj-spacer"&gt;&lt;/span&gt;

    &lt;button mat-button mat-icon-button color="primary"&gt;
      &lt;mat-icon aria-hidden="false"&gt;share&lt;/mat-icon&gt;
    &lt;/button&gt;

    &lt;button mat-button mat-icon-button color="primary"&gt;
      &lt;mat-icon aria-hidden="false"&gt;favorite&lt;/mat-icon&gt;
    &lt;/button&gt;
  &lt;/mat-card-actions&gt;
&lt;/mat-card&gt;
</pre>
</code>
  </mat-tab>
</mat-tab-group>