<div class="">
  <br/>
  <p class="mat-h1">Logged in user information</p>
  <p>User logged in: {{userDTO?.firstName}} {{userDTO?.lastName}}</p>
  <p>Email: {{userDTO?.email}}</p>
  <p>Roles: {{userDTO?.roles}}</p>
  <br/>
  <br/>

  <p class="mat-h1">Introduction</p>
  <p>
    To carry out the POC (Proof of Concept) that gave rise to this documentation, the SSO tool was used
    Keycloak in version 14.0.0, the latest version available at the time of starting this work.
  </p>
  <br/>

  <p class="mat-h1">Integration of applications to SSO, by technology</p>
  <br/>
  <p class="mat-h1">Angular 11</p>
  <p class="mat-h2">prerequisites</p>

  <p>
    To get started with configuring/implementing the SSO integration, we will first add the two
    npm libraries needed for this:
  </p>

  <mat-card>npm install keycloak-angular keycloak-js</mat-card>
  <br/>
  <p>The versions used in the preparation of this documentation were: </p>

  <mat-card>"keycloak-angular": "^8.3.0", <br/>
    "keycloak-js": "^14.0.0",
  </mat-card>

  <br/>
  <p class="mat-h2">Implementation</p>

  <p>
    First we will remove the hash of the url of the application, as it makes the keycloak redirect not
    understand the destination url.
  </p>
  <p>
    In the route configuration (mostly in the XXX-routing.module or XXX.module files) add or
    change the <em>useHash</em> parameter to <span class="text-black">false</span>.
  </p>

  Example:
  <code><pre class="code">
@NgModule( {{
    imports: [RouterModule.forRoot(routes, {
        useHash: false,
        relativeLinkResolution: 'legacy'
    })],
    exports: [RouterModule]
})</pre>
  </code>

  <p>
    To start the integration with SSO, first we need to register the application as an SSO CLIENT. <a
    href="https://www.keycloak.org/docs/latest/server_admin/#_clients">See</a></p>
  <p>Note: For applications with a SPA frontend (Angular, Vue, React, Ionic), the access type must be public.</p>
  <p>
    Note: To further restrict access to client-only roles, we have to disable Full Scope
    Allowed within the scope of the client. <a
    href="https://www.keycloak.org/docs/latest/server_admin/#user-role-mappings">See</a>
  </p>
  <br/>
  <p>
    After registering the client, we have to configure the parameters for integration, in angular applications, we can
    do this in the environment, example:
  </p>

  <code><pre class="code">export const environment = {
    ...
    ssoUrl: 'https://govltda.com/auth',
    ssoClientId: 'usr',
    ssoRealm: 'ORGLTD'
};</pre>
  </code>

  <p>
    In the module that should be private (requires authenticated user and/or user with profile), add the following
    settings:
  </p>
  <p>First, add a function to initialize the keycloak client: </p>

  <code><pre class="code">function initializeKeycloak(keycloak: KeycloakService) {
    return () => keycloak.init({
        config: {
    url: environment.ssoUrl,
    realm: environment.ssoRealm,
    clientId: environment.ssoClientId,
        },
       bearerExcludedUrls: ['/assets', '/public', 'https://cdn.dsv.com.br/*']
    });
}</pre>
  </code>

  <p>Then, import the objects and add the function created to initialize the integration: Ex:</p>

  <code><pre class="code"> @NgModule( {{
    declarations: [
        AppPrivateComponent
    ],
    imports: [
        ...
        KeycloakAngularModule
    ],
    providers: [
        ...
        provide: APP_INITIALIZER,
        useFactory: initializeKeycloak,
        multi: true,
        deps: [KeycloakService]
    ]
    ...
    </pre>
  </code>

  <p>Now the application is already configured to integrate with SSO, the next step is to detect and configure the
    private routes.</p>

  <p>The security of the routes is done through Guard. </p>

  <p>Below, an example of Guard with the following behaviors:</p>

  <p>1. Checks if the user is authenticated, if not, it is redirected to the login screen.</p>

  <p>2. Once the user is authenticated and if he needs a certain Role(s) to access the route, the guard checks if the
    user has at least
    a Role among those configured in the route, if not, the message "The user does not have access to this resource!" is
    displayed.</p>

  <p>Guard example:</p>

  <code><pre class="code">
import {Injectable} from '@angular/core';
import {
    ActivatedRouteSnapshot,
    Router,
    RouterStateSnapshot,
} from '@angular/router';
import {KeycloakAuthGuard, KeycloakService} from 'keycloak-angular';

@Injectable({
  providedIn: 'root',
    })
export class AuthGuard extends KeycloakAuthGuard {
    constructor(
      protected readonly router: Router,
      protected readonly keycloak: KeycloakService
    ) {
    super(router, keycloak);
  }

  public isAccessAllowed = async (
    route: ActivatedRouteSnapshot,
    state: RouterStateSnapshot
  ) => {
    if (!this.authenticated) {
    await this.keycloak.login({
          redirectUri: window.location.origin + state.url,
        });
    }

    const requiredRoles = route.data.roles;

    if (!(requiredRoles instanceof Array) || requiredRoles.length === 0) {
    return true;
    }

    const contains = requiredRoles.some(r => this.roles.indexOf(r) >= 0);
    if (!contains) {
    alert('User does not have access to this feature!');
    }
    return contains;
  }
}
  </pre>
  </code>

  <p>Example of Guard and Roles configuration in the route:</p>

  <code>
    <pre class="code">
{ path: 'sso', component: SsoComponent, canActivate: [AuthGuard], data: {roles: ['admin']}}
    </pre>
  </code>

  <p>With that, we have the essential elements to hold our application.</p>
  <br/>

  <p class="mat-h2">Useful Services</p>

  <p>Check if the user is logged in: this.keycloak.isLoggedIn();</p>

  <p>As we are not transferring user information in the JWT Token, to recover them, we have the service:
    this.keycloak.loadUserProfile();</p>

  <p>Check if the logged in user has a certain role: this.keycloak.isUserInRole('admin');</p>

</div>
