<h1>Avatar</h1>
<p>
  Component used to graphically represent a user in virtual environments. You can introduce yourself as
  vector illustration (iconic avatar), text (letter avatar) and photograph (photographic avatar).
</p>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar">
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar"&gt;
</pre>
</code>
  </mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <div mat-card-avatar class="bg-success text-white">
        <span>W</span>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;div mat-card-avatar class="bg-success text-white"&gt;
  &lt;span&gt;W&lt;/span&gt;
&lt;/div&gt;
</pre>
</code>
  </mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Preview">
    <div class="p-3">
      <mat-icon mat-card-avatar>person</mat-icon>
    </div>
  </mat-tab>
  <mat-tab label="Html">
    <code>
<pre>
&lt;mat-icon mat-card-avatar&gt;person&lt;/mat-icon&gt;
</pre>
</code>
  </mat-tab>
</mat-tab-group>
