.mat-list-base.inline-list {
  display: flex !important;
  padding: 0 !important;

  .mat-list-item {
    font-size: 11.6px !important;
    height: 40px !important;
    width: initial !important;
    text-align: center;
  }

  .mat-list-icon {
    font-size: 14px !important;
    line-height: 24px;
    text-align: center;
  }

  .mat-list-item-content {
    padding: 0 !important;
  }

  .mat-button {
    font-size: 11.6px !important;
    padding: 0 8px !important;
  }

  .mat-icon {
    font-size: 13px !important;
  }
}