.text-white {
  color: map-get($lib-palette-primary, 50) !important;
}

.text-dark {
  color: map-get($lib-palette-primary, 90) !important;
}

.text-primary {
  color: map-get($lib-palette-primary, 700) !important;
}

.text-warn {
  color: map-get($lib-palette-warn, 500) !important;
}

.text-accent {
  color: map-get($lib-palette-accent, 500) !important;
}

.text-success {
  color: map-get($lib-palette-success, 400) !important;
}

.bg-white {
  background-color: map-get($lib-palette-primary, 50) !important;
}

.bg-dark {
  background-color: map-get($lib-palette-primary, 900) !important;
}

.bg-primary {
  background-color: map-get($lib-palette-primary, 700) !important;
}

.bg-warn {
  background-color: map-get($lib-palette-warn, 500) !important;
}

.bg-accent {
  background-color: map-get($lib-palette-accent, 500) !important;
}

.bg-success {
  background-color: map-get($lib-palette-success, 400) !important;
}

