.mb-0 {
  margin-bottom: 0 !important;
}

.ma-0 {
  margin: 0 !important;
}

.fa-2 {
  font-size: 1.3em !important;
}

.d-flex {
  display: flex !important;
  align-items: center !important;
}

.d-block {
  display: block;
}

.mr-3 {
  margin-right: 0.5rem !important;
}

.ml-3 {
  margin-left: 0.5rem !important;
}

.p-3 {
  padding: 0.5rem !important;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

.w-100 {
  width: 100%;
}